body, html {
  height: 100%;
}

#left, #right {
  float: left;
  height: 100%;
}

#left {
  width: 30%;
  border-right: 2px solid black;
}

#right {
  width: 70%;

  .row:first-child {
    border-bottom: 1px solid black;
  }
}

#section {
  padding: 5px;
}

#name {
  height: 100%;
  margin-top: 16px;
}