#left
  .row
    .small-12.columns
      %h1#title Concert Tickets
  .row
    .small-6.columns
      %select#section
        %option{value: 'default'} Select Section
        %option{value: 'vip'} VIP Section
        %option{value: 'ga'} General Admission
    .small-3.columns
      %input#seatNum{type: 'text', placeholder: '35'}
    .small-3.columns
      %input#seatCost{type: 'text', placeholder: '$100'}
    .small-12.columns
      %input#createSeats.button.success.radius.expand{type: 'button', value:'Create Seats'}
  .row
    .small-12.columns
      %h3 Reporting
  .row
    .small-6.columns
      .row
        .small-12.columns
          Total VIP:
          %span#totV
      .row
        .small-12.columns
          Total GA:
          %span#totG
      .row
        .small-12.columns
          Grand Total:
          %span#tot
      .row
        .small-12.columns
          VIP People:
          %span#veeps
      .row
        .small-12.columns
          GA People:
          %span#geeps
      .row
        .small-12.columns
          Total People:
          %span#teeps
    .small-6.columns
      .row
        .small-4.columns
          VIP:
        .small-8.columns
          %ul#vipList
      .row
        .small-4.columns
          GA:
        .small-8.columns
          %ul#gaList
#right
  .row
    .small-2.columns
      %h2#subtitle Reserve:
    .small-3.columns
      %input#name{type: 'text', placeholder: 'Scott Stapp'}
    .small-7.columns
  .row
    .small-12.columns
      #stage
        %h2#halfStage Stage
  .row
    .small-12.columns
      #vip
  .row
    .small-12.columns
      #general
